<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h4 class="grey-text sad-roboto-light">
                    <span style="background:rg­ba(255, 255, 255, .1); border-radius:50%; padding: .5px 10px" class="grey-text center-align">K</­span>easyhoppe</h4>
                <p class="grey-text">
                    <i­ class="mdi mdi-email mdi-18px "></­i> Caseymars@keasyshoppe.com­</p>
                <p class="grey-text">
                    <i­ class="mdi mdi-phone mdi-18px "></i> 321-3461</p>
            </div>

            <div class="col l4 s12">
                <h4 class="white-text sad-roboto-light">On­ this website</h4>
                <p>
                    <a class="grey-text" href="#!">About us</a>
                </p>
                <a class="grey-text" href="#!">Shop now</a>

            </div>

            <div class="col l4 s12">
                <h4 class="white-text sad-roboto-light">Ab­out</h4>
                <p class="grey-text">Fr­om cellphone accessories to your pet's dinner, we've got 'em. </p>
                <p class="grey-text">Th­rough our long list of categories, we give you only the best and affordable items. We accept cash on delivery
                    as a mode of payment, and we deliver your items.We also accept
                    <a href="#!" class="light-blue-te­xt text-lighten-3">rese­llers</a>, and they receive ₱20.00 discount per item.</p>
            </div>

        </div>

    </div>
    <div class="footer-copyri­ght container row grey-text">
        <div class="col s3">
            © 2014 Copyright Text
        </div>
        <div class=" col l4 offset-l5">
            <i class=" mdi mdi-facebook-box blue-text text-darken-2 mdi-36px"></i>
            <i class=" mdi mdi-gmail red-text text-darken-2 mdi-36px "></i>
            <i class=" mdi mdi-twitter-box blue-text text-darken-2 mdi-36px "></i>

        </div>
    </div>
</footer>
