<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>KeasyShoppe</title>
    <link rel="icon" type="image/png" href="../../images/k_logo_3.png">
    <link rel="stylesheet" href="../../css/materialdesignicons.css">
    <link rel="stylesheet" href="../../css/materialize.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/style_1.css">
    <style>
      .invalid {
        background-color: rgba(253, 152, 172, 0.5) !important;
        color: crimson !important;
      }

    </style>
  </head>

  <body>
    <div class="page-bg">
    </div>
    <!-- Mixins-->
    <!-- Pen Title-->
    <div class="pen-title">
      <!-- <h1>KeasyShoppe</h1> -->
      <a href="#" class="brand-logo"><img style="width:35%" class="responsive-img" src="../../images/keasy_logo.png"></a>
    </div>

    <div class="container">
      <div class="card"></div>
      <div class="card">
        <h1 class="title">Login</h1>
        <form> <!--action="http://localhost/keasyshoppe/pages/login_controller.php" method="POST"-->
          <div class="input-container">
            <input type="text" class="browser-default" id="log_username" required="required" name="u" />
            <label for="log_username">Username</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input type="password" class="browser-default" name="query" id="log_password" required="required" />
            <label for="log_password">Password</label>
            <div class="bar"></div>
          </div>
          <div class="button-container">
              <button type="button" onclick="logMeIn()" class="waves-effect waves-block btn-ghost btn-ghost-large"><span>Go</span></button>
              <div class="footer">
                  <a href="#">Forgot your password?</a>
              </div>
          </div>
        </form>
      </div>
      <div class="card alt">
        <div class="toggle mdi mdi-account-plus">
          <!--<i class=" mdi mdi-account-plus"></i>-->
        </div>
        <h1 class="title">Register
          <div class="close">

          </div>
        </h1>
        <form method="POST">
          <div class="input-container">
            <input type="text" class="browser-default" name="u" id="username" required="required" />
            <label for="username">Username</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input minlength="8" onchange="checkPass()" type="password" class="browser-default" id="pass" required="required" />
            <label for="">Password</label>
            <div class="bar" id="d2"></div>
          </div>
          <div class="input-container">
            <input name="rePass" type="password" class="browser-default" id="rePass" required="required" />
            <label for="rePass">Repeat Password</label>
            <div class="bar"></div>

          </div>
        </form>
        <div class="button-container">
          <button class="modal-trigger" data-target="loader" onclick="registerMe()">
            <span>Next</span>
          </button>
        </div>
      </div>
    </div>

    <div id="loader" style="height:500px;" class="modal transparent z-depth-0">
      <div class="modal-content">
        <div class="center">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <p class="flow-text white-text">Creating your account...</p>
        </div>

      </div>
    </div>
    <div id="loader_log" style="height:500px;" class="modal transparent z-depth-0">
      <div class="modal-content">
        <div class="center">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <p class="flow-text white-text">Logging into your account...</p>
        </div>

      </div>
    </div>
    <script src='../../js/jquery.min.js'></script>
    <script src="../../js/materialize.min.js"></script>
    <script src="../../js/index.js"></script>
    <script src="../../js/script.js"></script>

    <script>
      $(document).ready(() => {
        $('#error_username').hide();
        $('#error_password').hide();
        $('#error_repass').hide();
      });

      function registerMe() {
        var username = $('#username').val();
        var pass = $('#pass').val();
        var rePass = $('#rePass').val();
        if (pass == rePass) {
          $.ajax({
            data: {
              "u": username,
              "q": pass
            },
            url: "../../pages/createaccount_controller.php",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            method: "POST",
            success: (data) => {
              var retval = JSON.parse(data);
              $('#loader').modal('close');
              if (retval.statusCode == 20004) {
                Materialize.toast("Username already taken", 4000);
                $('#username').addClass('invalid');
              } else if (retval.statusCode == 100001) {
                Materialize.toast("Account created successfully. Redirecting...", 4000);
                keasy_post('../../pages/u/profile/', {
                  u: retval.username
                });
              }
            },
            error: (data) => {
              $('div.status').html(JSON.stringify(data));
            }
          });
        } else {
          Materialize.toast('Passwords don\'t match.', 4000);
          $('#loader').modal('close');
        }
      }

      function checkPass() {
        var pass = $('#pass').val();
        if (!(pass.length >= 8)) {}
      }

      function logMeIn() {
        var username = $('#log_username').val();
        var password = $('#log_password').val();
        $('#loader_log').modal('open');
        $.ajax({
          data: {
            "u": username,
            "query": password
          },
          url: "../../pages/login_controller.php",
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          method: "POST",
          success: (data) => {
            var retval = JSON.parse(data);
            if (retval.status == 120001) {
              Materialize.toast("Account logged in successfully. Redirecting...", 4000);
              keasy_post('../../pages/u/', {
                u: username,
                userdata: data
              });
            } else if (retval.status == 20001) {
              $('#loader_log').modal('close');
              Materialize.toast("You've got the wrong password.", 4000);
            } else if (retval.status == 20002) {
              $('#loader_log').modal('close');
              Materialize.toast("Seems like you have not registered yet.", 4000)
            }
          },
          error: (data) => {
            alert("Error: " + JSON.parse(data));
          }
        });
      }

    </script>
  </body>

</html>
